<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/student_team_management.css">
    <title>My Team</title>
</head>
<body>
    <%- include("partials/student_navbar", { classId: classId }) %>
    <section class="main-section">
        <h2>Your Teammates</h2>
        <ul>
            <% team.student_ids.forEach(student => { %>
                <% if (student._id.toString() !== currentUserId.toString()) { %>
                    <li class="current-team-student">
                        <%= student.username %>
                        <form action="/student/<%= classId %>/assessment/<%= currentUserId %>/<%= student._id %>" method="GET">
                            <button>Evaluate Teammate</button>
                        </form>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    </section>
</body>
</html>
